body {
    background: #050507;
    color: #FFFFFF;
}

a {
    color: #eeeeee;
}

.hidden {
    display: none;
}

/* Absolute Center */
.absolute_center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
}
/* End Absolute Center */

/* Main Navigation Menu */
.navigation ul {
    list-style-type: none;
}

.navigation ul {
    float: right;
    margin-bottom: 0;
}

.navigation ul li {
    float: left;
    margin: 0 0 0 20px;
}

.navigation ul li a, .navigation ul li a:visited, .navigation ul li a:link {
    text-decoration: none;
    color: #999999;
    font-size: 14px;
}

.navigation ul li a:hover {
    color: #FFFFFF;
}

.navigation li .outerContainer {
    height: 60px;
}

.navigation ul li a.active {
    color: #FFFFFF;
}
/* End Main Navigation Menu */


/* Table Styling */
table {
    width: 100%;
}

table thead {
    background: #111111;
}

table thead a {
    color: #eeeeee;
    font-size: 15px;
    font-weight: bolder;
}

table td, table th {
    border: 5px solid #050507;
    padding: 5px;
}

table tbody tr.odd {
    background: #222222;
}
/* End Table Styling */

/* Web Forms */
form > div {
    margin: 5px 0;
}

form > div > div {
    float: left;
    text-align: left;
    clear: right;
    height: 30px;
}

form > div > div:first-child, form > div > div.label {
    text-align: right;
    clear: left;
    margin-right: 5px;
    width: 45%;
}

form > div > div > * {
    max-width: 100%;
}

form > div > div {
    width: auto;
    max-width: 45%;
}

form > div.submit > div {
    text-align: right;
    width: 100%;
}

form > div > div > label, form > div > div > p {
    line-height: 21px;
}

input[type=submit] {
    color: #000000;
}
/* End Web Froms */

/* Generic Page */
#page_heading {
    margin-top: 5%;
    text-align: center;
    margin-bottom: 20px;
}

#page_heading h1, .section_heading h1
#page_heading h2, .section_heading h2,
#page_heading h3, .section_heading h3,
#page_heading h4, .section_heading h4,
#page_heading h5, .section_heading h5,
#page_heading h6, .section_heading h6 {
    color: #FEB02A;
    text-transform: capitalize;
    margin-bottom: 0;
    text-align: center;
}

#page_heading p {
    font-style: italic;
}

#page_header h1, .section_heading h1 { font-size: 2.5em; }
#page_header h2, .section_heading h2 { font-size: 2.0em; }
#page_header h3, .section_heading h3 { font-size: 1.5em; }
#page_header h4, .section_heading h4 { font-size: 1.0em; }
#page_header h5, .section_heading h5 { font-size: 0.5em; }
#page_header h6, .section_heading h6 { font-size: 0em; }

.section_heading {
    margin: 15px 0;
}

#page_heading .page_nav a {
    margin: 0 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FEB02A;
}

#page_heading .page_nav a:hover {
    text-decoration: underline;
}
/* End Generic Page */

/* Login Page */
#login {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 300px;
}
#login div.banner {
    text-align: center;
    position: relative;
    left: -10px;
}
#login .login_message {
    text-align: center;
}

    /* Login Form */
    #loginForm, #loginFormToken, .login_form_title {
        max-width: 300px;
        margin: auto;
        text-align: center;
    }

    #loginForm > div > div, #loginFormToken > div > div {
        max-width: inherit;
    }


    #loginForm .buttons_and_links div:first-child, #loginForm .buttons_and_links div.label {
        width: 23%;
    }

    #loginFormToken .buttons_and_links div:first-child, #loginFormToken .buttons_and_links div.label {
        width: 12%;
    }

    #loginForm > div > div:first-child, #loginForm > div > div.label
    #loginFormToken > div > div:first-child, #loginFormToken > div > div.label {
        width: 36%
    }
    /* End Login Form */
/* End Login Page */

/* Home Page */
#home div.content {
    text-align: center;
}
/* End Home Page */

/* Repository Page */
    /* Test Page */
    #test_upload_form_container {
        text-align: center;
        margin: auto;
        max-width: 300px;
    }

    #test_upload_form_container > form {
        max-width: 300px;
    }
    /* End Test Page */
/* End Repository Page */

/* Default Layout */
#default_container {
    max-width: 500px;
    max-height: 500px;
}
/* End Default Layout */

/* Center */
.center {
    text-align: center;
}
/* End Center */

/* Pagination */
div.pagination {
    text-align: center;
}

div.pagination a, div.pagination span {
    margin: 0 10px;
    text-decoration: none;
}

div.pagination a {
    color: #666666;
}
/* End Pagination */

/* Token Pages */
    /* View Page */
    div.token_view form {
        margin: auto;
    }

    form#add_token_restriction {
        width: 500px;
    }

    form#add_token_restriction > div > div:first-child,
    form#add_token_restriction > div > div.label {

        width: 37%
    }
    /* End View Page */
/* End Token Pages */