body {
    background: #050507;
    color: #FFFFFF;
}

/* Main Navigation Menu */
.navigation ul {
    list-style-type: none;
}

.navigation ul {
    float: right;
    margin-bottom: 0;
}

.navigation ul li {
    float: left;
    margin: 0 0 0 20px;
}

.navigation ul li a, .navigation ul li a:visited, .navigation ul li a:link {
    text-decoration: none;
    color: #999999;
    font-size: 14px;
}

.navigation ul li a:hover {
    color: #FFFFFF;
}

.navigation li .outerContainer {
    height: 60px;
}

.navigation ul li a.active {
    color: #FFFFFF;
}
/* End Main Navigation Menu */

.center {
    text-align: center;
}

/* Table Styling */
table {
    width: 100%;
}

table thead {
    background: #111111;
}

table thead a {
    color: #eeeeee;
    font-size: 15px;
}

table td, table th {
    border: 5px solid #050507;
    padding: 5px;
}

table tbody tr.odd {
    background: #222222;
}
/* End Table Styling */

/* Web Forms */
form label, form input {
    width: 45%;
    float: right;
}

form label {
    text-align: right;
    margin-right: 10px;
    line-height: 30px;
}

form input {
    padding: 5px;
    width: auto;
}

form > div {
    margin-bottom: 10px;
    float: right;
    width: 100%;
    text-align: right;
}

form input[type=submit] {
    float: right;
    width: inherit;
    height: 30px;
    clear: both;
}

form input[type=checkbox] {
    width: inherit;
    height: 30px;
    margin: 0;
}

/* End Web Froms */

#page_heading {
    margin-top: 5%;
    text-align: center;
}

#page_heading h1 {
    color: #FEB02A;
    font-size: 2.5em;
    text-transform: capitalize;
    margin-bottom: 0;
}

#page_heading p {
    font-style: italic;
}
/* Login Page */
#login {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 300px;
}
#login div.banner {
    text-align: center;
    position: relative;
    left: -10px;
}
#login .login_message {
    text-align: center;
}

    /* Login Form */
    #loginForm, .login_form_title {
        max-width: 300px;
        margin: auto;
    }

    #loginForm {
        position: relative;
        left: -60px;
    }


    #loginForm div.remember_me_container {
        float: right;
        width: auto;
    }

    #loginForm div.remember_me_container input[type=checkbox] {
        width: 12px;
    }

    #loginForm label[for=remember_me] {
        text-align: left;
        margin-left: 5px;
        margin-right: 0;
        width: auto;
    }

    #loginForm #buttons_and_links input[type=submit] {
        float: right;
        width: auto;
    }
    /* End Login Form */
/* End Login Page */

/* Home Page */
#home div.content {
    text-align: center;
}
/* End Home Page */

/* Repository Page */
    /* Test Page */
    #test_upload_form_container {
        text-align: center;
        margin: auto;
        max-width: 300px;
    }

    #test_upload_form_container > form {
        max-width: 300px;
    }
    /* End Test Page */
/* End Repository Page */

.absolute_center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
}

#default_container {
    max-width: 500px;
    max-height: 500px;
}